@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC', cursive;
}
:root{
    --verde-pricipal: rgba(14, 175, 14, 0.904);
    --cinza-claro: rgb(172, 168, 168);
    --cinza-pouco-escuro: rgb(107, 106, 106);
}
/*só pro flex*/
.super-pai{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

/*header*/
.headerMenu{
    width: 100%;
    height: 80px;
    background-color: var(--verde-pricipal);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 0;
}
/*triangulo esquerda*/
.triangulo1{
    width: 0;
    height: 0;
    border-left: 78px solid transparent;
    border-right: 0px solid transparent;
    border-top: 80px solid black;
    float: left;
    transition: 1s;
    display: none;
}
/*div preta que esta no topo em que esta o nome ThorfDivine*/
.Menu1{
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    transition: 0.5s;
}
/*nome no centro(ThorfDivine)*/
.MenuThorfDivine{
    font-size: 2em;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 20px;
    color: white;
    transition: 0.5s;
}
/* altera o tamanho da div preta central com triangulos*/
.Menu1:hover{
    width: 28em;
}
/*meche no ThorfDivine*/
.MenuThorfDivine{
    position: relative;
}
/*linha debaixo do nome*/
.MenuThorfDivine::after{
    content: " ";
    width: 0%;
    height: 0.01em;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom:0;
    left: 50%;
    transition: 0.5s ease-in-out;
}
/*crescendo a linha de baixo do nome*/
.MenuThorfDivine:hover::after{
    width: 100%;
    left: 0;
}
/* altera a distancia entre as letras do nome ThorfDivine*/
.Menu1:hover .MenuThorfDivine{
    cursor: pointer;
    letter-spacing: 0.25em;
}
/*triangulo direita*/
.triangulo2{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 78px solid transparent;
    border-top: 80px solid black;
    float: left;
    display: none;
}
/*altera as letras do menu superior*/
.MenuWord{
    float: right;
    color: white;
}
/*configurando as materias dentro do menu*/
.opcaomat{
    display:none;
}
/*configurando os links*/
.opcao{
    color: rgb(255, 255, 255);
    font-weight: 100;
    text-decoration: none;
    transition: 0.3;
    cursor: pointer;
}
/*colocando o brilho sobre os links*/
.opcao:hover{
    text-shadow: 0 0 35px var(--verde-pricipal);
    color: white;
    cursor: pointer;
}
/*1° configuração da caixa de li*/
.nav-list{
    list-style: none;
    display: flex;
    color: white;
}
/*configurandodiretamente a li*/
.nav-list li{
    letter-spacing: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

/*configuração final da caixa de li*/
.nav-list{
    float: left;
    top: 5em;
    position: absolute;
    text-align: center;
    width: 24.11em;
    height: 0;
    background: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 0 31.01%;
    transition: 0.35s ease-in-out;
}
/*colocando o dedinho aonde fica as metarias*/
.opcaomat:hover{
    cursor: pointer;
}


/*---------------------------------------------------------------------------------*/
.pai{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:1000px;
    background-color: var(--cinza-claro);
    align-items: center;
}

.titlepage{
    padding: 0 40%;
}

@keyframes textoSurge{
    from{
        opacity: 0.1;
    }
    to{ 
        opacity: 1;
    }
}

.port{
    background-color: var(--cinza-pouco-escuro);
    width: 50vw;
    height: 20vh;
    border-radius: 20px;
    padding: 1vh 0 0 1vh;
    margin-top: 2vh;
    opacity: 0.1;
    animation: textoSurge 0.5s 0s both;
}

.port h2{
    color: white;
    font-size: 2.5rem;
}

.port p{
    font-size: 0.7rem;
    color: white;
    margin: 0 0 0 1vw;
}

.linguagens{
    width: 30vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-around;
    align-content: space-around;
}

.bloco_js{
    border-radius: 0.75rem;
    padding: 0.3vh 0.3vw;
    background-color: yellow;
}
.bloco_php{
    border-radius: 0.75rem;
    background-color: #7A86B8;
}

.bloco_php p{
    color: black;
    font-size: 1.5rem;
    margin: 0.3vh 0.3vw;
    -webkit-text-stroke: 0.05rem white;
}
.bloco_sql{
    color: white;
    border-radius: 0.75rem;
    padding: 0.3vh 0.3vw;
    background-color: blue;
}
.bloco_java{
    border-radius: 0.75rem;
    padding: 0.3vh 0.3vw;
    background-color: white;
    color: red;
}
.bloco_c{
    color: white;
    border-radius: 0.75rem;
    padding: 0.3vh 0.3vw;
    background-color: blueviolet;
}

.materias_corpo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
}
.triangulo_preto{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 78px solid transparent;
    border-top: 9.5vh solid black;
    float: left;
    transition: 1s;
    display: block;
}

/*----------------sw---------------*/
.sw_div_big{
    display: flex;
    width: 100%;
    height: 9.5vh;
    background-color: var(--verde-pricipal);
    justify-content: initial;
}
.sw_div_small{
    display: flex;
    width: 7vw;
    height: 9.5vh;
    background-color: black;
    align-items: center;
    transition: ease-in-out 0.3s;
}
.sw_div_small:hover{
    width: 9vw;
}
.sw_div_small h1{
    color: white;
    position: relative;
}
.sw:hover{
    cursor: pointer;
}
.sw::after{
    content: " ";
    width: 0%;
    height: 0.01em;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom:0;
    left: 50%;
    transition: 0.5s ease-in-out;
}
.sw:hover::after{
    width: 100%;
    left: 0;
}
/*----------------iw---------------*/
.iw_div_big{
    display: flex;
    width: 100%;
    height: 9.5vh;
    background-color: var(--verde-pricipal);
    align-items: center;
}
.iw_div_small{
    display: flex;
    width: 7vw;
    height: 9.5vh;
    background-color: black;
    align-items: center;
    transition: ease-in-out 0.3s;
}
.iw_div_small:hover{
    width: 9vw;
}
.iw_div_small h1{
    color: white;
    position: relative;
}
.iw:hover{
    cursor: pointer;
}
.iw::after{
    content: " ";
    width: 0%;
    height: 0.01em;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom:0;
    left: 50%;
    transition: 0.5s ease-in-out;
}
.iw:hover::after{
    width: 100%;
    left: 0;
}

/*----------------gcw---------------*/
.gcw_div_big{
    display: flex;
    width: 100%;
    height: 9.5vh;
    background-color: var(--verde-pricipal);
    align-items: center;
}
.gcw_div_small{
    display: flex;
    width: 7vw;
    height: 9.5vh;
    background-color: black;
    align-items: center;
    transition: ease-in-out 0.3s;
}
.gcw_div_small:hover{
    width: 9vw;
}
.gcw_div_small h1{
    color: white;
    position: relative;
}
.gcw:hover{
    cursor: pointer;
}
.gcw::after{
    content: " ";
    width: 0%;
    height: 0.01em;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom:0;
    left: 50%;
    transition: 0.5s ease-in-out;
}
.gcw:hover::after{
    width: 100%;
    left: 0;
}