.buttom {
    background-color: black;
    color: white;
    border-radius: 15px;
}

.text {
    background-color: black;
    color: white;
    border-radius: 15px;
}

.n1 {
    width: 10px;
}

.ol.il {
    display: none;

}